<form method="POST" action="{% url 'login' %}">
{%csrf token%}
{{form.username.label_tag}}
{{form.username}}
{{form.password.label_tag}}
{{form.password}}
<input type="submit" value="login"/>
{%if form.errors%}
    <p>Невверное имя или пароль.</p>
{%endif%}
<p><a href="{% url 'password_reset'%}"></a>Забыли пароль?</p>