{%extends 'blog/layout.html'%}
{%load static%}
{% block title %}
новости

{%endblock%}
{%block content%}
    <section id="bg-big" class="container-fluid" style="background: url('{% static 'img/bg-big.jpg'%}')">
        <div id="hero" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Новости</h1>
              <p class="lead">Самые свежие и острые новости</p>
            </div>
          </div>
    </section>
    <section class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-9">
                  {% for post in news %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                          {% if post.Image.url != null %}
                            <img src="{{post.Image.url}}" style="height: 200px; object-fit: cover" class="card-img" alt="...">
                          {% else %}
                            <img src="{% static 'img/no-image.jpg' %}">
                          {% endif %}
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <a href="{{post.get_absolute_url}}">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <em><a href="{{post.сategory.get_absolute_url}}">{{post.сategory.title}}</a></em>
                              </a>
                              <p class="card-text">{{post.summary}}</p>
                              <p class="card-text"><small class="text-muted">{{post.date|date:'d.F.Y H:i'}}</small></p>
                            </div>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
                <aside class="col-md-3">
                  <h1 style="font-family: 'Times New Roman', Times, serif;">Реклама</h1>
                  <div class="card" style="width: 18rem; margin-bottom: 15px;">
                    <img src="{% static 'img/bg-big.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div class="card text-right" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </aside>
            </div>
        </section>
    </section>
{%endblock%}