{% extends 'blog/layout.html' %}
{% block title %}
    главная страница
{% endblock %}
{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/img/bg-big.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/bg-big.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/bg-big.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    <section class="caontainer-fluid">
        <div class="container">
            <h1 style="text-align: center;"> Тут основной заголовок</h1>
        </div>
    </section>
{% endblock %}