{%extends 'blog/layout.html'%}
{%load static%}
{% block title %}
{{post.title}}
{%endblock%}
{%block content%}
    <section id="bg-big" class="container-fluid" style="background: url('{{post.Image.url}}')">
        <div id="hero" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">{{post.title}}</h1>
              <p class="lead">{{post.summary}}</p>
            </div>
          </div>
    </section>
    <section class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-9">
                  <p>{{post.title}}</p>
                  <p> <img src="{{post.Image.url}}"alt=""> </p>
                  <p>{{post.summary}}</p>
                  <p>{{post.text}}</p>
                  <p>{{post.date}}</p>
                </div>
                <aside class="col-md-3">
                  
                </aside>
            </div>
        </section>
    </section>
{%endblock%}