{%extends 'blog/layout.html'%}
{%load static%}
{% block title %}
Поиск по: {{query}}

{%endblock%}
{%block content%}
    <section id="bg-big" class="container-fluid" style="background: url('{% static 'img/bg-big.jpg'%}')">
        <div id="hero" class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">{{query}}</h1>
              <p class="lead">Новости по запросу: {{query}}</p>
            </div>
          </div>
    </section>
    <section class="container-fluid">
        <section class="container">
            <div class="row">
                <div class="col-md-9">
                    {% if search_obj == null %}
                        <h1>Новостей по запросу: {{query}},нет</h1>
                        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET" >
                            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                    {% else %}
                  {% for post in search_obj %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                          {% if post.Image.url != null %}
                            <img src="{{post.Image.url}}" style="height: 200px; object-fit: cover" class="card-img" alt="...">
                          {% else %}
                            <img src="{% static 'img/no-image.jpg' %}">
                          {% endif %}
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{ post.title }}</h5>
                              <p class="card-text">{{post.summary}}</p>
                              <p class="card-text"><small class="text-muted">{{post.date|date:'d.F.Y H:i'}}</small></p>
                            </div>
                          </div>
                        </div>
                    </div>
                  {% endfor %}
                  {% endif %}
                </div>
                <aside class="col-md-3">
                  <h1 style="font-family: 'Times New Roman', Times, serif;">Реклама</h1>
                  <div class="card" style="width: 18rem; margin-bottom: 15px;">
                    <img src="{% static 'img/bg-big.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                  
                  <div class="card text-right" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </aside>
            </div>
        </section>
    </section>
{%endblock%}